---

- name: Git | main.yml | Linux - Install Git # noqa: package-latest
  ansible.builtin.apt:
    name: "{{ git_apt_apps }}"
    state: latest
    update_cache: true
    cache_valid_time: 86400
  become: true
  when: ansible_os_family == "Debian"

- name: Git | main.yml | macOS - Install Git
  community.general.homebrew:
    state: present
    name: git
  when: ansible_os_family == "Darwin"

- name: Git | main.yml | Fedora/RedHat - Install Git
  ansible.builtin.dnf:
    name: "{{ git_dnf_apps }}"
    state: latest
    update_cache: true
    update_only: true
  when: ansible_os_family == "RedHat"
  become: true

- name: Git | main.yml | Confirm the Git Directory Exists
  ansible.builtin.file:
    path: "{{ item.path }}"
    mode: "0775"
    state: directory
  with_items:
    - "{{ git_dir }}"
  # become_user: "{{ ansible_user_id }}"

- name: Git | main.yml | Clone git repos # noqa: latest
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: "{{ item.dest }}"
    update: true
    accept_hostkey: true
    recursive: true
  with_items:
    - "{{ git_cloning | default([]) }}"
    - "{{ all_group_git_cloning | default([]) }}"
    - "{{ group_git_cloning | default([]) }}"
    - "{{ git_device_cloning | default([]) }}"
  register: _standard_git_cloned

- name: Debug Git Cloning
  ansible.builtin.debug:
    msg: "Cloned {{ item.item.repo }} to {{ item.item.dest }}"
  with_items: "{{ _standard_git_cloned.results }}"
  tags: git-cloning
